* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --White: hsl(0, 0%, 100%);
    --LGrey: hsl(217, 12%, 63%);
    --DGrey: hsl(216, 12%, 54%);
    --LBlue: hsl(213, 19%, 23%);
    --Blue: hsl(213, 19%, 18%);
    --Black: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    background-color: var(--Black);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 30rem;
    height: 30rem;
    background-color: var(--Blue);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.star {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--LBlue);
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.text {}

h1 {
    color: var(--White);
    margin-bottom: 1rem;
}

p {
    color: var(--LGrey);
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number {
    width: 3.5rem;
    height: 3.5rem;
    color: var(--LGrey);
    font-size: 1.4rem;
    font-weight: 700;
    background-color: var(--LBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    cursor: pointer;
}

.number:hover {
    background-color: var(--Orange);
    color: var(--White);
}

.active {
    background-color: var(--LGrey);
    color: var(--White);
}

.number.active:hover {
    background-color: var(--LGrey);
    color: var(--White);
}

.btn {
    width: 100%;
}

button {
    width: 100%;
    height: 3.5rem;
    border-radius: 100rem;
    border: none;
    background-color: var(--Orange);
    color: var(--White);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--White);
    color: var(--Orange);
}

button:active {
    transform: scale(99%);
}

.cheers {
    height: 8rem;
}

.youDid {
    background-color: var(--LBlue);
    padding: .5rem 1rem;
    border-radius: 100rem;
}

.orangeText {
    color: var(--Orange);
    font-weight: 500;
}

.thanks {
    text-align: center;
}

.error {
    opacity: 0;
    width: 100%;
    padding-top: .5rem;
    height: 1rem;
    font-size: 1rem;
    color: var(--Orange);
    text-align: center;
}